

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 12px ;
}

.header__nav{
  display: flex;
  gap: 207px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap:8px;

  
}
